.wrap{
  width: 100%;
  font-size: 20px;
  background: #fff;
  padding: 0;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  height: 60px;
  line-height: 60px;
  overflow: hidden;
}
.menu{
  width: 1000px;
  margin: 0 auto;
}
.content{
  margin: 20px 0;
  .catTitle{
    margin-right: 10px;
    color: #909090;
    &:hover{
      color:#49a9ee;
    }
    &:active{
      color:#49a9ee;
    }
  }
}
.image{
  position: absolute;
  height:300px;
  line-height: 300px;
}
.title{
  width: 100%;
  position: relative;
  left: 80px;
  top:-60px;
  height:300px;
  h3{
    height:100px;
  }
}
.card{
  width: 100%;
  height:300px;
}
.footer{
  clear: both;
}
.tabs{
  margin-bottom: 10px;
  background: #fff;
  &:hover{
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  }
}

.preView{
  border-bottom: 1px solid rgba(178,186,194,.15);
  padding: 10px 0 10px 40px;
  &:hover{
    background-color: rgba(0,0,0,0.01);
  }
  a{
    color:#2e3135;
    &:hover{
      text-decoration: underline;
      color: #108ee9;
    }
    &:visited{
      color:#909090;
    }
  }
  .contentImage{
    width: 80px;
    overflow: hidden;
  }

  .like{
    font-size: 15px;
    a{
      &:hover{
        text-decoration: none;
        color: #108ee9;
      }
    }
    span{
      margin-left: 10px;
    }
  }
}
.user{
  width: 1000px;
  margin: 0 auto;
  .avatar{
    width: 80px;
    margin: 80px auto 20px;
    img{
      width: 100%;
      border-radius: 50%;
    }
  }
  h1{
    text-align: center;
  }
}
.red{
  color: red;
}
.hot{
  font-size: 20px;
  line-height: 40px;
  height: 40px;
  .badge{
    background-color: #cdcfdb;
    border-radius: 50%;
    padding: 0 7px;
    margin: 0 5px;
  }
}
.new{
  font-size: 20px;
  line-height: 40px;
  height: 40px;
  padding-left: 10px;
  .time{
    font-size: 12px;
    line-height: 20px;
    color: #71777c;
    margin-left: 10px;
  }
}
.tagWrap{
  text-align: center;
  .tag{
    margin: 5px;
  }
}
.setting{
  width: 800px;
  margin: 0 auto;
  .form{
    width: 600px;
    padding-bottom: 20px;
  }
  .images{
    width: 60px;
    border-radius: 50%;
  }
}
