.icon {
    margin-right: 8px;
}

.title {
    padding: 16px 8px;
}

.wrapper {
    padding-left: 8px;
    padding-right: 8px;
}

.previewLeading {
    padding-bottom: 16px;
    margin-bottom: 13px;
    border-bottom: 1px solid #dcdcdc;
}
.right {
    padding-left: 15px;
}

.customPanelStyle {
    background: #fff;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 0;
}
.customPanelStyle:hover {
    background: #fff;
}
.collapse {
    background: #F8F8F8
}
.detail_wrapper {
    margin: 20px 50px;
}
.detail_author {
    margin: 10px;
}
.detail_author span {
    font-size: 16px;
    margin: 0 10px;
}
